@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.login-view {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Verhindert Scrollen/Swipen */
    position: relative;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Begrenzt die Breite des Wrappers */
}

/* Titel */
.login-title {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}

/* Login-Karte */
.login-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

/* Eingabefelder innerhalb der Login-Karte */
.login-card vaadin-login-form {
    width: 100%;
}

/* Sicherstellen, dass Eingabefelder nicht zu breit werden */
vaadin-login-form input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

vaadin-login-form vaadin-button {
    width: 100%;
    background-color: #2C3E50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

vaadin-login-form vaadin-button:hover {
    background-color: #212121;
}

/* Buttons */
.login-button-google,
.register-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-button-google {
    background-color: #db4437;
    color: #fff;
}

.login-button-google:hover {
    background-color: #c33d2e;
}

.register-button {
    background-color: #4051B5;
    color: #fff;
}

.register-button:hover {
    background-color: #334099;
}

/* Footer */
.login-footer {
    font-size: 0.85rem;
    color: #888;
    padding: 10px;
}

/* Media Queries für kleinere Bildschirme */
@media (max-width: 600px) {
    .login-title {
        font-size: 1.5rem;
    }

    .login-card {
        padding: 10px;
    }

    .login-button-google,
    .register-button {
        padding: 8px;
        font-size: 0.9rem;
    }

    .login-footer {
        font-size: 0.75rem;
    }
}