.redirect-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f7f9fc;
    padding: 20px;
}

.success-message {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.info-text {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
