.verification-view {
    background-color: #f7f9fc;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.back-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}
